{% extends "base.html" %}

{% block content %}
    <div class="container container-fluid p-5">
        <h1 class="display-4">Concept</h1>
        <p class="lead">Stack, Cards and Backgrounds</p>
        <hr class="my-4">
        <p>
        WebCard has basic concept of "Card", where you can draw picture, locate buttons and text fields. Think if it as a canvas to play with.
        You can create multiple cards and go forth or backword by pressing right and left arrow key. All of those cards you created is bundled as a "Stack".
        You can save and load your stack from "File" pull-down menu. You can also group cards with "Background".
        Picture, buttons and text fields in background is shared and displayed on cards having same background.
        </p>
        <p class="lead">Buttons and Text Fields</p>
        <hr class="my-4">
        <p>
        Buttons and text fields (or just field) are object where players can interact with. You can create new button or field from "Objects" pull-down menu.
        Buttons and fields have style you can change by double-click specific button or field. You can write script for specific button and field to
        do what you want, like going to next card when "Next" button is pressed.
        </p>
        <p class="lead">Browse and Edit Mode</p>
        <hr class="my-4">
        <p>
        In "Tools" pallete, you can find "Browse" and "Edit" button on the top. Press "Edit" or "Browse" button to be in that mode.
        On Edit mode, you can move buttons and fields around in card and edit by 
        double-clicking it. On "Browse" mode, buttons and fields are sticked and will not move, and clicking button will fire the script you wrote for that button.
        </p>
        <p class="lead">Auto Save</p>
        <hr class="my-4">
        <p>
        Opened stack is auto saved to your browser's local storage. When you go to Develop, last opened stack will be automatically loaded. 
        If you want to start new stack, select "New Stack..." in "File" menu.
        </p>
        <h1 class="display-4">Tutorial</h1>
        <p class="lead">Tutorials are Available in the Market</p>
        <hr class="my-4">
        <p>
        Click <a class="badge badge-pill badge-primary" href="{% url 'packages:market' %}" >Market</a> and find out "Basic Tutorial" to try interactively
        about what was written in the Concept section. It's in the Tutorials category. You can also go to Market by clicking "Market" on top menubar.
        </p>
        <br>
        <h1 class="display-4">Develop</h1>
        <p class="lead">Create your own stack</p>
        <hr class="my-4">
        <p>
        Click <a class="badge badge-pill badge-primary" href="{% url 'editor:index' %}" >Develop</a> and create your own stack.
        You might want to read "Scripting" section below to do more! Note that WebCard is currently in alpha stage, and some of the functionality is 
        missing, and we know there are still some bugs... Visit <a href="https://github.com/crazydreamproject/webcard" >WebCard GitHub</a> and post 
        issues, have a glance at source code, or you can even try creating patch to fix (greatly appreciated!)
        </p>
        <h1 class="display-4">Publish</h1>
        <p class="lead">Stage for releasing</p>
        <hr class="my-4">
        <p>
        Click <a class="badge badge-pill badge-primary" href="{% url 'packages:publish' %}" >Publish</a> and stage your stack to go to market.
        Note that you must be logged in, and save your stack to server. Stacks saved on server will appear on "Developing" area. Put a 
        cover image of your stack, description and other info to move your work to staging. If you are happy with it's look and feel,
        release your stack to market for everyone to try!
        </p>
        <br>
        <h1 class="display-4">Scripting</h1>
        <p class="lead">How it works</p>
        <hr class="my-4">
        <p>
        Script is attached to object, like button, field, card, background and stack. Double click button or field object, or select Info... from
        "Object" pull-down menu to find Script button to start writing script. Script begins with "on" keyword, followed by event message, and ends
        with "end" keyword followed by same event message. Below is an example of script to run when mouse is clicked up on object.
        <pre><code>
    on mouseUp
        go next card
    end mouseUp
        </code></pre>
        Event message is a message sent to object. Here is list of event messages.
        </p>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">message name</th>
                    <th scope="col">description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>mouseDown</td>
                    <td>When mouse button is pressed</td>
                </tr>
                <tr>
                    <td>mouseStillDown</td>
                    <td>When mouse button is long pressed</td>
                </tr>
                <tr>
                    <td>mouseUp</td>
                    <td>When mouse button is pressed and released</td>
                </tr>
                <tr>
                    <td>mouseDoubleClick</td>
                    <td>When mouse button is double clicked</td>
                </tr>
                <tr>
                    <td>mouseEnter</td>
                    <td>When mouse cursor is moved into object</td>
                </tr>
                <tr>
                    <td>mouseLeave</td>
                    <td>When mouse cursor is moved out of object</td>
                </tr>
                <tr>
                    <td>mouseWithin</td>
                    <td>When mouse cursor is within the object</td>
                </tr>
                <tr>
                    <td>arrowKey</td>
                    <td>When arrow key is pressed. It takes one argument containing pressed key direction.</td>
                </tr>
                <tr>
                    <td>keyDown</td>
                    <td>When any keyboard key is pressed</td>
                </tr>
                <tr>
                    <td>commandKeyDown</td>
                    <td>When control key is pressed</td>
                </tr>
                <tr>
                    <td>returnKey</td>
                    <td>When Return key is pressed</td>
                </tr>
                <tr>
                    <td>enterKey</td>
                    <td>When Enter key is pressed</td>
                </tr>
                <tr>
                    <td>tabKey</td>
                    <td>When Tab key is pressed</td>
                </tr>
                <tr>
                    <td>openCard</td>
                    <td>When moving into card</td>
                </tr>
                <tr>
                    <td>closeCard</td>
                    <td>When moving out to other card</td>
                </tr>
            </tbody>
        </table>
        <p>
        Event message is first passed to current card's button or field if applicable, and then it is passed to current card,
        current background and finally to current stack, if none of them grabbed and run that specific message handler.
        </p>
        <p>
        Script block, sandwitched by "on" &lt;message&gt; and "end" &lt;message&gt; is called message handler.
        You can write multiple message handlers in one script, like below.
        <pre><code>
    on mouseEnter
       set name of me to "Mouse Inside"
    end mouseEnter
    on mouseLeave
        set name of me to "Mouse Outside"
    end mouseLeave
        </code></pre>
        If there are same messages, only the first message handler will run.
        </p>
        <p class="lead">Commands in script</p>
        <hr class="my-4">
        <p>
        Within the message handler, you can write commands to execute. See Scripting Reference for list of commands.
        Commands are executed from top line to bottom line sequentially, one at a time. You can modify this sequential flow by
        "if" and "repeat" keyword.
        </p>
        <p>
        The "if" followed by conditional expression, and "then" will first evaluate that condition and if true,
        will go through list of commands in between "if" and "else" or "end if". If condition was false, then
        command lists between "else" and "end if" will be executed, if any. Example:
        <pre><code>
    if field "name" is empty then
        ask "What is your name ?"
    end if

    if field "result" is "win" then
        show button "win"
    else
        show button "lose"
    end if
        </code></pre>
        </p>
        <p>
        You can repeat block of commands, using "repeat" keyword. For example:
        <pre><code>
    repeat 3 times
        beep
    end repeat

    repeat with x = 1 to 5
        put x*x into line x of field 1
    end repeat
        </code></pre>
        (more to come about repeat)
        </p>
        <p>
        When message handler reaches end of commands, message handler is done, and event message is consumed.
        However if you use "pass" keyword, it will quit the command execution in current message handler, and send event massage to next object applicable.
        </p>
        <h1 class="display-4">Scripting Reference</h1>
        <p class="lead">Abbreviation</p>
        <hr class="my-4">
        <p>
        Some keyword can be abbreviated.
        </p>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Keyword</th>
                    <th scope="col">Abberbiated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>card</td>
                    <td>cd</td>
                </tr>
                <tr>
                    <td>background</td>
                    <td>bg</td>
                </tr>
                <tr>
                    <td>button</td>
                    <td>btn</td>
                </tr>
                <tr>
                    <td>field</td>
                    <td>fld</td>
                </tr>
                <tr>
                    <td>previous</td>
                    <td>prev</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p class="lead">Comments</p>
        <hr class="my-4">
        <p>
        line that starts with <code>#</code> or <code>//</code> will be interpreted as comments for human readability and will cause no effect.<br>
        Example:
        <pre><code>
    on mouseUp
        # This line is a comment. Check mouseUp message handler is called
        put "mouseUp is called" into fld 1
    end mouseUp
        </code></pre>
        </p>
        <br>
        <p class="lead">Number Literals</p>
        <hr class="my-4">
        <p>
        Number literals are just any numbers like <code>42</code> and <code>3.14</code> in the example below.
        <pre><code>
    put 42 into field "answer"
    put 3.14 into field "PI"
        </code></pre>
        </p>
        <br>
        <p class="lead">String Literals</p>
        <hr class="my-4">
        <p>
        String literals are sentences like <code>"quick brown fox"</code> and <code>"pangram"</code> inside double quotes <code>""</code> in the example below.
        <pre><code>
    put "quick brown fox" into field "pangram"
        </code></pre>
        </p>
        <br>
        <p class="lead">Variables</p>
        <hr class="my-4">
        <p>
        Variables are used to hold values and to use it later in the script. To create variable, use <code>put</code> command.<br>
        In the example below, <code>result</code> is variable that holds a value, <code>42</code>.

        <pre><code>
    put 42 into result
        </code></pre>
        There are two types of variables, local variables and global variables. Above is an example of "local" variables where
        only within that message handler can access to its value. To make it global, use <code>global</code> keyword to define.
        In below example, <code>score</code> and <code>nextcard</code> is global variables.
        <pre><code>
    on mouseUp
        global score, nextcard
        put 42 into score
        if score > 40 then
            put "newRecord" into nextcard
        else
            put "showRanking" into nextcard
        end if
    end mouseUp
        </code></pre>
        Later in another message handler of same or different object, these <code>score</code> and <code>nextcard</code> can be referenced.
        <pre><code>
    on arrowKey
        global score, nextcard
        put score into field "currentRecord"
        go to card nextcard
    end arrowKey
        </code></pre>
        </p>
        <br>
        <p class="lead">Properties</p>
        <hr class="my-4">
        <p>
        Objects like button, field, card, background and stack have properties. You can get or set (if applicable) properties using <code>get</code> and <code>set</code> command.
        For example, to access name property of a button:
        <pre><code>
    on mouseUp
        get name of btn 1
        # get will store the result in special variable called 'it'.
        put it into fld "btnName"
        # same thing in one action
        put name of btn 1 into fld "btnName"
        set name of btn 1 to "Renamed Btn Name"
    end mouseUp
        </code></pre>
        Below is list of properties in each objects.
        <br>
        <br>
        <h5 class="">Button Object Properties</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>autoHilite</td><td>Boolean, Hilite on mouse enter if true, don't if false</td></tr>
                <tr><td>showName</td><td>Boolean, Show this button name if true, hide this button name if false</td></tr>
                <tr><td>left</td><td>Integer, Left location of this button</td></tr>
                <tr><td>top</td><td>Integer, Top location of this button</td></tr>
                <tr><td>right</td><td>Integer, Right location of this button</td></tr>
                <tr><td>bottom</td><td>Integer, Bottom location of this button</td></tr>
                <tr><td>topLeft</td><td>(Integer,Integer), Top and Left location of this button</td></tr>
                <tr><td>bottomRight|botRight</td><td>(Integer,Integer), Bottom and Right location of this button</td></tr>
                <tr><td>width</td><td>Integer, width of this button</td></tr>
                <tr><td>height</td><td>Integer, Height of this button</td></tr>
                <tr><td>enabled</td><td>Boolean, Active if true, inactive if false</td></tr>
                <tr><td>family</td><td>Integer, (TBD: group number if radio button style)</td></tr>
                <tr><td>hilite</td><td>Boolean, hilited if true</td></tr>
                <tr><td>icon</td><td>String, name if icon if set</td></tr>
                <tr><td>id</td><td>Integer, Read Only, ID of this button</td></tr>
                <tr><td>loc</td><td>(Integer, Integer), location of center of this button</td></tr>
                <tr><td>name</td><td>String, name if this button</td></tr>
                <tr><td>number</td><td>Integer, Read Only, secuential number of this button in this card</td></tr>
                <tr><td>partNumber</td><td>Integer, Read Only, secuential part number (button and field) of this button in this card</td></tr>
                <tr><td>rect</td><td>(Integer, Integer, Integer, Integer), top, left, bottom right of this button</td></tr>
                <tr><td>script</td><td>String, message handlers of this button</td></tr>
                <tr><td>scriptingLanguage</td><td>String, (TBD: Currently <span>Talk Script</span> only)</td></tr>
                <tr><td>sharedHilite</td><td>Boolean, (TBD: shared hilited if true)</td></tr>
                <tr><td>style</td><td>String, style this button</td></tr>
                <tr><td>textAlign</td><td>String, text alignment of this button</td></tr>
                <tr><td>textFont</td><td>String, text font of this button</td></tr>
                <tr><td>textHeight</td><td>Integer + "px", text height of this this button</td></tr>
                <tr><td>textSize</td><td>Integer + "px", text height of this this button</td></tr>
                <tr><td>textStyle</td><td>String, text style of this button</td></tr>
                <tr><td>titleWidth</td><td>Integer, (TBD)</td></tr>
                <tr><td>visible</td><td>Boolean, button is shown if true, hidden if false</td></tr>
            </tbody>
        </table>
        <br>
        <h5 class="">Field Object Properties</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>autoSelect</td><td>Boolean, (TBD select line in field if true, don't if false)</td></tr>
                <tr><td>autoTab</td><td>Boolean, (TBD go next field by tab if true, don't if false)</td></tr>
                <tr><td>dontSearch</td><td>Boolean, (TBD do not search content of this field if true)</td></tr>
                <tr><td>dontWrap</td><td>Boolean, (TBD do not wrap at end of line width of this field if true)</td></tr>
                <tr><td>fixedLineHeight</td><td>Boolean, (TBD line height of this field is all the same if true)</td></tr>
                <tr><td>id</td><td>Integer, Read Only, ID of this field</td></tr>
                <tr><td>left</td><td>Integer, Left location of this field</td></tr>
                <tr><td>top</td><td>Integer, Top location of this field</td></tr>
                <tr><td>right</td><td>Integer, Right location of this field</td></tr>
                <tr><td>bottom</td><td>Integer, Bottom location of this field</td></tr>
                <tr><td>topLeft</td><td>(Integer,Integer), Top and Left location of this field</td></tr>
                <tr><td>bottomRight|botRight</td><td>(Integer,Integer), Bottom and Right location of this field</td></tr>
                <tr><td>width</td><td>Integer, width of this field</td></tr>
                <tr><td>height</td><td>Integer, Height of this field</td></tr>
                <tr><td>loc</td><td>(Integer, Integer), location of center of this field</td></tr>
                <tr><td>lockText</td><td>Boolean, (TBD don't enable input to fhis field if true)</td></tr>
                <tr><td>showLines</td><td>Boolean, (TBD show each base line of line in field if true)</td></tr>
                <tr><td>wideMargines</td><td>Boolean, (TBD wider margine of this field if true)</td></tr>
                <tr><td>multipleLines</td><td>Boolean, (TBD multiple lines can be selected in this field if true)</td></tr>
                <tr><td>name</td><td>String, name if this field</td></tr>
                <tr><td>number</td><td>Integer, Read Only, secuential number of this field in this card</td></tr>
                <tr><td>rect</td><td>(Integer, Integer, Integer, Integer), top, left, bottom right of this field</td></tr>
                <tr><td>scroll</td><td>Integer, (TBD how much is scrolled in this field in pixels)</td></tr>
                <tr><td>script</td><td>String, message handlers of this field</td></tr>
                <tr><td>scriptingLanguage</td><td>String, (TBD: Currently <span>Talk Script</span> only)</td></tr>
                <tr><td>sharedText</td><td>Boolean, (TBD: shared text among same background if true)</td></tr>
                <tr><td>style</td><td>String, style this field</td></tr>
                <tr><td>textAlign</td><td>String, text alignment of this field</td></tr>
                <tr><td>textFont</td><td>String, text font of this field</td></tr>
                <tr><td>textHeight</td><td>Integer + "px", text height of this this field</td></tr>
                <tr><td>textSize</td><td>Integer + "px", text height of this this field</td></tr>
                <tr><td>textStyle</td><td>String, text style of this field</td></tr>
                <tr><td>visible</td><td>Boolean, field is shown if true, hidden if false</td></tr>
            </tbody>
        </table>
        <br>
        <h5 class="">Card, Background and Stack Object Properties</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>cantAbort</td><td>Boolean, (TBD: Can not stop script execution if true)</td></tr>
                <tr><td>cantDelete</td><td>Boolean, (TBD: Can not delete this card, background, stack if true)</td></tr>
                <tr><td>cantModify</td><td>Boolean, (TBD: Can not modify this card, background, stack if true)</td></tr>
                <tr><td>cantPeek</td><td>Boolean, (TBD: Can not look scipt etc if true)</td></tr>
                <tr><td>freeSize</td><td>Integer, (TBD: Available usable local storage size in byte)</td></tr>
                <tr><td>size</td><td>Integer, (TBD: current local storage size of this stack in byte)</td></tr>
                <tr><td>id</td><td>Integer, Read Only, ID of this card, background, stack</td></tr>
                <tr><td>marked</td><td>Boolean, (TBD: checked or not for search)</td></tr>
                <tr><td>name</td><td>String, name if this field</td></tr>
                <tr><td>number</td><td>Integer, Read Only, secuential number of this card, background, stack</td></tr>
                <tr><td>owner</td><td>(TBD: background if card, stack if background of it belongs to)</td></tr>
                <tr><td>rect</td><td>(Integer, Integer, Integer, Integer), top, left, bottom right of this card, background, stack</td></tr>
                <tr><td>reportTemplates</td><td>(TBD: template for printing)</td></tr>
                <tr><td>script</td><td>String, message handlers of this card, background, stack</td></tr>
                <tr><td>scriptingLanguage</td><td>String, (TBD: Currently <span>Talk Script</span> only)</td></tr>
                <tr><td>showPict</td><td>Boolean, Show picture of this card, background, stack if true</td></tr>
            </tbody>
        </table>
        </p>
        <br>
        <p class="lead">Containers</p>
        <hr class="my-4">
        <p>
        Containers are places where you can <code>put</code> things in. Below are container types:
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Field Object</td><td>Contents of field is where you can <code>put</code> into.</td></tr>
                <tr><td><code>message box</code> | <code>message</code> | <code>msg</code></td><td>If <code>put</code> is used without <code>into</code>, message box is used as container</td></tr>
                <tr><td><code>it</code></td><td><code>get</code> command will put result into <code>it</code> varialbe container</td></tr>
                <tr><td>clipboard</td><td>(TBD: clipboard)</td></tr>
            </tbody>
        </table>
        Some examples:
        <pre><code>
    on mouseUp
        put "hello" into fld "salute"
        # to put into some chunk in field container
        put "hello" into line 3 of fld "salute"
        put "best" into word 2 of line 4 of fld "salute"
        put "hello" into msg
        # same thing
        put "hello"
    end mouseUp
        </code></pre>
        You can display message box by selecting "Message" menu item in "Go" menubar.

        </p>
        <br>
        <p class="lead">Clause</p>
        <hr class="my-4">
        <p>
        Clause is used to build up command expression. Expression notation of clause, used in command reference is as follows:
        </p>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">Clause</th><th scope="col">Expression Notation</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>&lt;selecter_pointer&gt;</td>
                    <td><code>first</code>, <code>last</code>, <code>second</code>, <code>third</code>, <code>fourth</code>, <code>fifth</code>,
                        <code>sixth</code>, <code>seventh</code>, <code>eighth</code>, <code>ninth</code>, <code>tenth</code></td>
                </tr>
                <tr>
                    <td>&lt;direction_pointer&gt;</td>
                    <td><code>next</code>, <code>prev</code></td>
                </tr>
                <tr>
                    <td>&lt;frame_pointer&gt;</td>
                    <td><code>this</code></td>
                </tr>
                <tr>
                    <td>&lt;navigation_pointer&gt;</td>
                    <td><code>&lt;selecter_pointer&gt;</code>, <code>&lt;direction_pointer&gt;</code>, <code>&lt;frame_pointer&gt;</code></td>
                </tr>
                <tr>
                    <td>&lt;arrow_pointer&gt;</td>
                    <td><code>up</code>, <code>down</code>, <code>left</code>, <code>right</code></td>
                </tr>
                <tr>
                    <td>&lt;preposition_pointer&gt;</td>
                    <td><code>before</code>, <code>into</code>, <code>after</code></td>
                </tr>
                <tr>
                    <td>&lt;tool_type&gt;</td>
                    <td>
                        <code>browse tool</code>, 
                        <code>button tool</code>, 
                        <code>field tool</code>, 
                        <code>edit tool</code>, 
                        <code>pattern tool</code>, 
                        <code>crop tool</code>, 
                        <code>eyedrop tool</code>, 
                        <code>scroll tool</code>, 
                        <code>magicwand tool</code>, 
                        <code>select tool</code>, 
                        <code>lasso tool</code>, 
                        <code>pencil tool</code>, 
                        <code>brush tool</code>, 
                        <code>eraser tool</code>, 
                        <code>line tool</code>, 
                        <code>spray tool</code>, 
                        <code>rectangle tool</code>, 
                        <code>bucket tool</code>, 
                        <code>oval tool</code>, 
                        <code>curve tool</code>, 
                        <code>text tool</code>
                </tr>
                <tr>
                    <td>&lt;expr&gt;</td>
                    <td><code>&lt;number literal&gt;</code>, <code>&lt;string literal&gt;</code>, <code>&lt;constant&gt;</code>, <code>&lt;variable&gt;</code>, <code>&lt;property&gt;</code>, <code>&lt;container&gt;</code></td>
                </tr>
                <tr>
                    <td>&lt;card_object_clause&gt;</td>
                    <td><code>&lt;navigation_pointer&gt;</code>, <code>&lt;navigation_pointer&gt; card</code>, <code>card &lt;expr&gt;</code>, <code>card id &lt;expr&gt;</code></td>
                </tr>
                <tr>
                    <td>&lt;button_object_clause&gt;</td>
                    <td><code>button &lt;expr&gt;</code>, <code>button id &lt;expr&gt;</code>, <code>button &lt;expr&gt; of &lt;card_object_clause&gt;</code>, <code>button id &lt;expr&gt; of &lt;card_object_clause&gt;</code></td>
                </tr>
                <tr>
                    <td>&lt;field_object_clause&gt;</td>
                    <td><code>field &lt;expr&gt;</code>, <code>field id &lt;expr&gt;</code>, <code>field &lt;expr&gt; of &lt;card_object_clause&gt;</code>, <code>field id &lt;expr&gt; of &lt;card_object_clause&gt;</code></td>
                </tr>
                <tr>
                    <td>&lt;part_object_clause&gt;</td>
                    <td><code>&lt;button_object_clause&gt;</code>, <code>&lt;field_object_clause&gt;</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p class="lead">Navigation Commands</p>
        <hr class="my-4">
        <h5 class="">go, push, pop, help, arrow key</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>go [to]</code> &lt;card_object_clause&gt;</td>
                    <td>Navigate to card specified by &lt;card_object_clause&gt;</td>
                    <td><code>go to next</code>, <code>go card "shop"</code>, <code>go cd 3</code></td>
                </tr>
                <tr>
                    <td><code>push</code> &lt;card_object_clause&gt;</td>
                    <td>Navigate to &lt;card_object_clause&gt; memorizing current card</td>
                    <td><code>push next</code>, <code>push card "shop"</code>, <code>push cd 3</code></td>
                </tr>
                <tr>
                    <td><code>pop</code></td>
                    <td>Navigate back to last memorized card</td>
                    <td><code>pop</code></td>
                </tr>
                <tr>
                    <td><code>help</code></td>
                    <td>(TBD: Navigate to Help deck)</td>
                    <td><code>help</code></td>
                </tr>
                <tr>
                    <td><code>arrowKey</code> &lt;arrow_pointer&gt;</td>
                    <td>Navigate as if arrow key is pressed.</td>
                    <td><code>arrowKey right</code>, <code>arrowKey left</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        These navigation commands let's you move from current card to another card.
        </p>
        <br>
        <p class="lead">Action Commands</p>
        <hr class="my-4">
        <h5 class="">put, delete, enable, disable, choose, click at, drag from, type</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>put</code> &lt;expr&gt;</td>
                    <td>Put some value to message box</td>
                    <td><code>put "hello"</code></td>
                </tr>
                <tr>
                    <td><code>put</code> &lt;expr&gt; &lt;preposition_pointer&gt; &lt;variable&gt;</td>
                    <td>Put some value to variable</td>
                    <td><code>put 42 into answerToEverything</code></td>
                </tr>
                <tr>
                    <td><code>put</code> &lt;expr&gt; &lt;preposition_pointer&gt; &lt;container&gt;</td>
                    <td>Put some value to container</td>
                    <td><code>put "The" before line 1 of fld 1</code></td>
                </tr>
                <tr>
                    <td><code>delete</code> &lt;part_object_clause&gt;</td>
                    <td>Delete part object specified</td>
                    <td><code>delete fld 3 of card 2</code></td>
                </tr>
                <tr>
                    <td><code>enable</code> &lt;button_object_clause&gt;</td>
                    <td>Enable button object specified</td>
                    <td><code>enable btn 2 of card 2</code></td>
                </tr>
                <tr>
                    <td><code>disable</code> &lt;button_object_clause&gt;</td>
                    <td>Disable button object specified</td>
                    <td><code>disable btn "OK"</code></td>
                </tr>
                <tr>
                    <td><code>choose</code> &lt;tool_type&gt;</td>
                    <td>Choose specified tool in Tool Palette</td>
                    <td><code>choose browse tool</code></td>
                </tr>
                <tr>
                    <td><code>click at</code> &lt;expr&gt;, &lt;expr&gt; </td>
                    <td>Perform click at given location</td>
                    <td><code>click at 100, 100</code>, <code>click at loc of btn 1</code></td>
                </tr>
                <tr>
                    <td><code>drag from</code> &lt;expr&gt;, &lt;expr&gt; <code>to</code> &lt;expr&gt;, &lt;expr&gt;</td>
                    <td>Perform drag from given location to location</td>
                    <td><code>drag from 100, 100 to loc of btn 1</code></td>
                </tr>
                <tr>
                    <td><code>type</code> &lt;expr&gt; </td>
                    <td>Perform keyboard type of text</td>
                    <td><code>type "hello"</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        You can combine these for example:
        <pre><code>
    on mouseUp
        choose line tool
        drag from 100, 100 to 200, 200
        choose browse tool
    end mouseUp
        </code></pre>
        to perform drawing from script!
        <code>enable</code> and <code>disable</code> will show objects, but in gray out if disabled. 
        Also <code>enabled</code> property is set to <code>true</code> if enabled, and <code>false</code> if disabled.
        </p>
        <p class="lead">Sound Commands</p>
        <hr class="my-4">
        <h5 class="">beep, play, play stop, speak, stop speach</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>beep</code> [&lt;expr&gt;]</td>
                    <td>Beep sound &lt;expr&gt; times (default 3 times)</td>
                    <td><code>beep 1</code></td>
                </tr>
                <tr>
                    <td><code>play</code> &lt;string literal&gt; </td>
                    <td>Play sound with "instrument"</td>
                    <td><code>play "boing"</code></td>
                </tr>
                <tr>
                    <td><code>play</code> &lt;string literal&gt;, &lt;string literal&gt; </td>
                    <td>Play sound "keys" with "instrument" </td>
                    <td><code>play "flute", "c4 d e f"</code></td>
                </tr>
                <tr>
                    <td><code>play</code> &lt;string literal&gt;, <code>tempo</code> &lt;expr&gt;, &lt;string literal&gt; </td>
                    <td>Play sound "keys" with tempo &lt;expr&gt; with "instrument" </td>
                    <td><code>play "harpsicode", tempo 100, "c4 d e f g a b c5"</code></td>
                </tr>
                <tr>
                    <td><code>play stop</code></td>
                    <td>Stop playing sound started by <code>play</code> command </td>
                    <td><code>play stop</code></td>
                </tr>
                <tr>
                    <td><code>stop sound</code></td>
                    <td>Stop all sounds</td>
                    <td><code>stop sound</code></td>
                </tr>
                <tr>
                    <td><code>speak</code> &lt;string literal&gt;, <code>with</code> &lt;voice type&gt; </td>
                    <td>Speak sentence with given voice (see below)</td>
                    <td><code>speak "Bye-Bye" with female voice</code></td>
                </tr>
                <tr>
                    <td><code>stop speach</code></td>
                    <td>Stop <code>speak</code> command</td>
                    <td><code>stop speach</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        &lt;voice type&gt; could be <code>male voice</code>, <code>female voice</code>, <code>neuter voice</code>, or any installed voice with double quote, for example:
        <pre><code>
    on mouseUp
        speak "Good Morning" with voice "Whisper"
    end mouseUp
        </code></pre>
        Sound commands are now under development and currently not functional.
        </p>
        <p class="lead">Arithmatic Commands</p>
        <hr class="my-4">
        <h5 class="">add, subtract, multiply, divide</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>add</code> &lt;expr&gt; <code>to</code> &lt;container&gt;|&lt;variable&gt;</td>
                    <td>Add &lt;expr&gt; value to &lt;container&gt; or &lt;variable&gt;</td>
                    <td><code>add 5 to fld 2</code></td>
                </tr>
                <tr>
                    <td><code>subtract</code> &lt;expr&gt; <code>from</code> &lt;container&gt;|&lt;variable&gt;</td>
                    <td>Subtract &lt;expr&gt; value from &lt;container&gt; or &lt;variable&gt;</td>
                    <td><code>subtract 3 from var2</code></td>
                </tr>
                <tr>
                    <td><code>multiply</code> &lt;container&gt;|&lt;variable&gt; <code>by</code> &lt;expr&gt;</td>
                    <td>Multiply &lt;container&gt; or &lt;variable&gt; by &lt;expr&gt; value</td>
                    <td><code>multiply var2 by id of btn "mul"</code></td>
                </tr>
                <tr>
                    <td><code>divide</code> &lt;container&gt;|&lt;variable&gt; <code>by</code> &lt;expr&gt;</td>
                    <td>Divide &lt;container&gt; or &lt;variable&gt; by &lt;expr&gt; value</td>
                    <td><code>divide message box by fld 2</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        Directly apply arithmatic operations to &lt;container&gt; or &lt;variable&gt;. <code>put</code> can be used to do same thing (with longer words).
        <pre><code>
    on mouseUp
        add 5 to fld 2
        # below is equivalent of above
        put (fld 2) + 5 into fld 2
    end mouseUp
        </code></pre>
        </p>
        <!-- Search Commands to be written -->
        <p class="lead">Display Commands</p>
        <hr class="my-4">
        <h5 class="">visual, flash, answer, ask, lock screen, unlock screen</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>visual</code>|<code>visual effect</code> &lt;visual effect clause&gt;</td>
                    <td>Apply visual effect, usually to current card</td>
                    <td><code>visual effect wipe left slowly</code></td>
                </tr>
                <tr>
                    <td><code>flash</code> (&lt;expr&gt;)</td>
                    <td>flash, usually current card &lt;expr&gt; times (default 3 times)</td>
                    <td><code>flash 5</code></td>
                </tr>
                <tr>
                    <td><code>answer</code> &lt;expr&gt; [ <code>with</code> &lt;string literal&gt; [ <code>or</code> &lt;string literal&gt; [ <code>or</code> &lt;string literal&gt; ] ] ]</td>
                    <td>Prompts user with multiple (up to 3) choices. Result in <code>it</code> variable.</td>
                    <td><code>answer "Beef or Chicken?" with "Beef" or "Chicken" or "Vegi"</code></td>
                </tr>
                <tr>
                    <td><code>ask</code> &lt;expr&gt; [ <code>with</code> &lt;expr&gt; ]</td>
                    <td>Ask user with default string. Result in <code>it</code> variable.</td>
                    <td><code>ask "Where do you live?" with "On Earth"</code></td>
                </tr>
                <tr>
                    <td><code>lock screen</code></td>
                    <td>Stop changing visual of current card</td>
                    <td><code>lock screen</code></td>
                </tr>
                <tr>
                    <td><code>unlock screen</code>|<code>unlock screen with visual effect</code> &lt;visual effect clause&gt;</td>
                    <td>Redraw current card with specified visual effect</td>
                    <td><code>unlock screen with visual effect checkerboard</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        Usually, <code>lock screen</code> and <code>unlock screen</code> is used as pair, with some visual change on card added in between.
        <pre><code>
    on mouseUp
        lock screen
        go next card
        unlock screen with visual effect barn door open
    end mouseUp
        </code></pre>
        Caveat, currently, <code>ask</code> and <code>answer</code> will return result to <code>it</code> variable AFTER user input to prompt is 
        made, but script will run async with prompt. So below will NOT put result in <code>it</code> variable at this timing.
        <pre><code>
    on mouseUp
        answer "Black or White?" with "Black" or "White"
        # below will not reflect above result since at this time, user has not yet input to prompt.
        put it into fld 1
    end mouseUp
        </code></pre>
        </p>
        <p class="lead">Object Manipulation Commands</p>
        <hr class="my-4">
        <h5 class="">get, set, show, hide</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>get</code> &lt;property clause&gt;</td>
                    <td>Obtain &lt;property&gt; and put into <code>it</code> variable</td>
                    <td><code>get visible of fld 1</code></td>
                </tr>
                <tr>
                    <td><code>set</code> &lt;property clause&gt; <code>to</code> &lt;expr&gt;</td>
                    <td>Set &lt;property&gt; to &lt;expr&gt;</td>
                    <td><code>set textFont of fld 1 to "Helvetica"</code></td>
                </tr>
                <tr>
                    <td><code>hide</code> &lt;object clause&gt;|<code>menuBar</code>|<code>titleBar</code></td>
                    <td>Hide &lt;object&gt; so it can not be seen. see <code>visible</code> property.</td>
                    <td><code>hide card button "show result"</code></td>
                </tr>
                <tr>
                    <td><code>show</code> &lt;object clause&gt;</td>
                    <td>Show &lt;object&gt; so it can be seen. see <code>visible</code> property.</td>
                    <td><code>show bg field "status"</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        <code>hide</code> will set <code>visible</code> property of object to <code>false</code> and
        <code>show</code> will set <code>visible</code> property of object to <code>true</code>.
        <pre><code>
    on mouseUp
        hide btn 1
        # below will put false
        put visible of btn 1 into fld 1
    end mouseUp
        </code></pre>
        </p>
        <p class="lead">File Commands</p>
        <hr class="my-4">
        <p>
        TBD.
        </p>
        <!-- open, close, read from file, write to file, print -->
        <p class="lead">Menu Commands</p>
        <hr class="my-4">
        <h5 class="">do menu, create menu, delete, reset menubar, enable, disable</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>doMenu</code> &lt;expr&gt; [ <code>of menu</code> &lt;menubar clause&gt; ]</td>
                    <td>Perform menu of &lt;expr&gt;</td>
                    <td><code>doMenu "New Button" of menu "Objects"</code></td>
                </tr>
                <tr>
                    <td><code>create menu</code> &lt;expr&gt;</td>
                    <td>Create new menu of &lt;expr&gt;</td>
                    <td><code>create menu "Personal"</code></td>
                </tr>
                <tr>
                    <td><code>delete</code> &lt;menu&gt;|&lt;menuitem&gt;</td>
                    <td>Delete &lt;menu&gt; or &lt;menuitem&gt;.</td>
                    <td><code>delete menuItem "My Address" of menu "Personal"</code></td>
                </tr>
                <tr>
                    <td><code>reset menubar</code></td>
                    <td>Reset menubar and menu items to default.</td>
                    <td><code>reset menubar</code></td>
                </tr>
                <tr>
                    <td><code>enable</code>&lt;menu&gt;|&lt;menuitem&gt;</td>
                    <td>Enable menu or menu item</td>
                    <td><code>enable menuItem "My Address" of menu "Personal"</code></td>
                </tr>
                <tr>
                    <td><code>disable</code>&lt;menu&gt;|&lt;menuitem&gt;</td>
                    <td>Disable menu or menu item</td>
                    <td><code>disable menu "Go"</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        </p>
        <p class="lead">Printing Commands</p>
        <hr class="my-4">
        <p>
        TBD.
        </p>
        <!--
        <h4 class="">open printing</h4>
        <h4 class="">close printing</h4>
        <h4 class="">print</h4>
        <h4 class="">reset print</h4>
        -->
        <p class="lead">Script Commands</p>
        <hr class="my-4">
        <h5 class="">wait, wait until, exit, lock messages, unlock messages, start using, stop using</h6>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-light">
                <tr><th scope="col">syntax</th><th scope="col">description</th><th scope="col">example</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>wait</code> &lt;expr&gt; [ <code>seconds</code>|<code>ticks</code> ]</td>
                    <td>Stop script for &lt;expr&gt; duration. default is <code>ticks</code></td>
                    <td><code>wait 3 sec</code></td>
                </tr>
                <tr>
                    <td><code>wait until</code> &lt;expr&gt; </td>
                    <td>Stop script until &lt;expr&gt; condition is met.</td>
                    <td><code>wait until the mouse is down</code></td>
                </tr>
                <tr>
                    <td><code>exit to HyperCard</code></td>
                    <td>stop script execution and any other handlers</td>
                    <td><code>exit to HyperCard</code></td>
                </tr>
                <tr>
                    <td><code>lock messages</code></td>
                    <td>set <code>lock messages</code> property to <code>true</code></td>
                    <td><code>lock messages</code></td>
                </tr>
                <tr>
                    <td><code>unlock messages</code></td>
                    <td>set <code>lock messages</code> property to <code>false</code></td>
                    <td><code>unlock messages</code></td>
                </tr>
                <tr>
                    <td><code>start using</code> &lt;expr&gt; </td>
                    <td>Start using other &lt;expr&gt; stack as library</td>
                    <td><code>start using "Sound Plugin"</code></td>
                </tr>
                <tr>
                    <td><code>stop using</code> &lt;expr&gt; </td>
                    <td>Stop using other &lt;expr&gt; stack as library</td>
                    <td><code>stop using "Sound Plugin"</code></td>
                </tr>
            </tbody>
        </table>
        <p>
        1 <code>tick</code> is unit of 1/60 second.<br>
        <code>start using</code> and <code>stop using</code> command is currently not functional.
        </p>
    </div>

{% endblock content %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        // hilite "Documents" nav.
        $(".nav-item").removeClass("active");
        $("#navDocuments").addClass("active");
    </script>
{% endblock javascript %}
